.footer {
    background: #000
}

.footer-container {
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    padding: 120px 20px 60px 20px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.33;
}

.footer-contato {
    justify-self: center;
}


.footer-contato li {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8;
}
.footer-contato li a {
    text-decoration: none;
    color: #fff;
}
.footer-contato li a:hover {
    color: #8f8f8f;
}
.footer-copy {
    color: #8f8f8f;
    font-size: 1.125rem;
    grid-column: 1 / -1;
    
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-contato {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .footer-contato li {
        margin-bottom: 0;
        font-size: 1.3rem;
    }
    .footer-texto {
        font-size: 1.3rem;
    }
}